* {
  font-family: sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../assets/images/corgi.jpg);
  background-size: 100%;
  background-repeat: repeat-y;
}

.square-left {
  width: 300px;
  height: 60px;
  display: inline-block;
  border-radius: 34px;
  background-color: pink;
  height: 215px;
  width: 400px;
  position: absolute;
  left: 144px;
  line-height: 32px;
  top: 149px;
  padding: 34px;
  font-size: 20px;
}

section {
  padding: 15px;
}

h1 {
  text-align: center;
  padding: 20px;
  color: white;
}

header {
  background-color: #6AD2F3;
  margin: 0;
  margin-bottom: 100px;
  padding: 3px;
}

/*h1, h3 {
  margin: 0 0 30px;
}*/

/*h1::after, h3::after {
  content: '';
  display: block;
  border-bottom: 4px solid #ce99ff;
  height: 4px;
  width: 300px;
}*/

form {
  margin: 30px 20px 50px;
}

.input-wrapper {
  background-color: white;
  width: 481px;
  position: relative;
  padding: 20px;
  display: inline-block;
  bottom: 178px;
  float: right;
}

textarea {
  width: 94%;
  font-size: 19px;
  outline: none;
  border: 2px solid;
  overflow: hidden;
  margin: 40px auto;
  display: block;
  border-bottom-color: #9baca4;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

label {
  color: #b84dff;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px;
}

.btn {
  /*background-color: #9900ff;*/
  border: none;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  outline: none;
  padding: 7px 15px;
  font-size: 20px;
}

.btnHability {
  background-color: #1da1f2;
  padding: 10px 15px;
  color: #fff;
  border-radius: 20%;
  font-weight: bold;
  outline: none;
}

/*.btn{
  background-color: #d9d0d0;
  color: #b5b5b5;
  border: none;
  padding: 10px 15px;
  border-radius: 20%;
  font-weight: bold;
  outline: none;
}*/

#number-cont {
  right: 50px;
  position: absolute;
  text-align: right;
  font-size: 20px;
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#container-contact {
  position: relative;
  top: 256px;
  padding: 25px;
}

li {
  background-color: #f3e6ff;
  border-radius: 5px;
  margin: 15px 0;
  padding: 15px 20px;
}

div {
  margin-top: 124px;
}

span {
  display: block;
  font-weight: 700;
}

.contact-name {
  color: #28004d;
  font-size: 16px;
}

.square-left {}
